.modal {
    &#createModal {
        background-color: rgba(0, 0, 0, 0.5) !important;
        box-shadow: none;
        .modal-dialog {
            .modal-content {
                background-color: transparent;
                .form-container {
                    background-color: black;
                    padding: 20px;
                    border-radius: 10px;
                    max-width: 500px;
                    width: 100%;
                    h2 {
                        text-align: center;
                        color: #333;
                        margin-bottom: 20px;
                        img {
                            width: 144px;
                        }
                    }
                    .form-group {
                        margin-bottom: 15px;
                        position: relative;
                        label {
                            color: #c4c4c4;
                            text-transform: capitalize;
                            font-size: 13px;
                            font-weight: 500;
                            text-align: left;
                            margin-bottom: 5px;
                            &.toggle-container {
                                display: flex;
                                align-items: center;
                                background-color: black;
                                border-radius: 20px;
                                padding: 4px 10px;
                                font-family: sans-serif;
                                flex-direction: column;
                                .toggle-label {
                                    color: rgb(97, 97, 97) !important;
                                }
                                .toggle-switch {
                                    position: relative;
                                    width: 26px;
                                    height: 17px;
                                    background-color: #171717;
                                    border-radius: 20px;
                                    cursor: pointer;
                                    &:has(input:checked) {
                                        background-color: #F88056;
                                    }
                                    .slider {
                                        position: absolute;
                                        height: 10px;
                                        width: 10px;
                                        background-color: white;
                                        border-radius: 50%;
                                        top: 4px;
                                        left: 3px;
                                        transition: 0.3s;
                                    }
                                    input {
                                        display: none;
                                        &:checked + .slider {
                                            left: 12px;
                                        }
                                    }
                                }
                            }
                        }
                        input[type="text"], input[type="number"], select, input[type="range"] {
                            padding: 10px;
                            border: 1px solid #101010;
                            border-radius: 5px;
                            font-size: 16px;
                            width: 100%;
                            background-color: transparent;
                            transition: border-color 0.3s ease;
                            color: white;
                            &#userName, &#avatarName, &#totalEarnings, &#appVersion, &#input_messages, &#timezone, &#avatarIsImage, &#headerAlignment {
                                border-color: #dbfc54 !important;
                            }
                        }
                        &:has(select) {
                            &:after {
                                content: "\f107";
                                position: absolute;
                                right: 6px;
                                top: calc(50% + 11px);
                                transform: translateY(-50%);
                                border: 0;
                                font-family: "Font Awesome 6 Free";
                                font-style: normal;
                                font-weight: 900;
                                font-size: 10px;
                                color: #d6d9df;
                                transition: 0.4s all
                                ease;
                            }
                            &>div {
                                position: relative;
                                &:after {
                                    content: "\f107";
                                    position: absolute;
                                    right: 6px;
                                    top: calc(50% + 11px);
                                    transform: translateY(-50%);
                                    border: 0;
                                    font-family: "Font Awesome 6 Free";
                                    font-style: normal;
                                    font-weight: 900;
                                    font-size: 10px;
                                    color: #d6d9df;
                                    transition: 0.4s all
                                    ease;
                                }
                            }
                        }
                    }
                    .form-actions {
                        display: flex;
                        justify-content: center;
                        margin-top: 20px;
                        .calculate-btn, .random-btn, .logout-btn {
                            background-color: #FFFC00;
                            color: #270100;
                            padding: 10px 20px;
                            border: none;
                            border-radius: 5px;
                            font-size: 16px;
                            cursor: pointer;
                            transition: background-color 0.3s ease;
                            text-decoration: none;
                        }
                        .calculate-btn, .random-btn {
                            text-transform: uppercase;
                            font-size: 14px;
                            font-weight: 600;
                            background-color: #dbfc54;
                            &:hover {
                                background: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}
