.dashboard-content {
    width: calc(100% - 250px);
    height: calc(100vh - 48px);
    background: #151515;
    border-top-left-radius: 16px;
    overflow-y: scroll;
    padding: 16px;
    .main-card-wrap {
        padding: 16px 24px;
        border-radius: 12px;
        background: #262626;
        margin-bottom: 16px;
        .main-card-heading {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
            h4 {
                font-family: "Inter", sans-serif;
                font-size: 16px;
                line-height: 1.25;
                font-weight: 500;
                display: flex;
                align-items: self-end;
                .tooltip-custom {
                    margin-left: 10px;
                    margin-bottom: 1px;
                    border: 0;
                    background: transparent;
                    display: inline-flex;
                    img {
                        width: 15px;
                        height: 15px;
                    }
                }
                span.utc {
                    font-size: 14px;
                    color: #bbb;
                    margin-left: 15px;
                    font-family: "Inter", sans-serif;
                }
            }
            .header-filter {
                .header-shown_by {
                    border: 0;
                    border-radius: 4px;
                    font-weight: 400;
                    color: #bbb;
                    outline: 1px solid #3E3E3E;
                    font-family: "Segoe UI", sans-serif;
                    border-right: 6px solid transparent;
                    background-color: #151515;
                    height: 33px;
                    font-size: 14px;
                    margin-top: 1px;
                    margin-right: 16px;
                    padding: 7px 7px 0 10px;
                    width: 130px;
                    .dropdown-menu {
                        align-items: center;
                        border-radius: 4px;
                        border: 1px solid #444444;
                        background-color: #2F2F2F;
                        display: none;
                        margin-top: 0;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        z-index: 1000;
                        float: left;
                        min-width: 100px;
                        list-style: none;
                        font-size: 14px;
                        background-clip: padding-box;
                        .dropdown-item {
                            display: block;
                            padding: 3px 20px;
                            clear: both;
                            font-weight: normal;
                            line-height: 1.428571429;
                            white-space: nowrap;
                            text-decoration: none;
                            color: white;
                            font-family: "Segoe UI", sans-serif;
                            font-size: 14px;
                            &:hover {
                                background-color: #353535;
                            }
                            &.active {
                                color: #2D74FF !important;
                                background-color: #353535 !important;
                            }
                        }
                    }
                    &:hover {
                        .dropdown-menu {
                            display: block;
                        }
                    }
                }
                .time-selector {
                    border: 1px solid #444444;
                    padding: 5px 8px;
                    display: inline-flex;
                    align-items: center;
                    border-radius: 4px;
                    column-gap: 4px;
                    li {
                        button {
                            text-align: center;
                            color: #bbb;
                            font-size: 11.5px;
                            line-height: 1;
                            padding: 7px 20px 5px;
                            font-weight: 600;
                            border: 0;
                            background: transparent;
                            border-radius: 2px;
                            font-family: 'Segoe UI', sans-serif;
                            &:hover {
                                background: transparent;
                                color: #2d74ff;
                            }
                        }
                        &.active {
                            button {
                                background: #353535;
                                color: #2d74ff;
                                &:hover {
                                    background: transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
