.dashboard-sidebar {
    width: 250px;
    height: calc(100vh - 48px);
    overflow-y: auto;
    padding: 7px 7px 26px 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 35px;
    .sidebar-main {
        width: 100%;
        hr {
            color: #171717;
            opacity: 1;
        }
        .version {
            line-height: 1.25;
            padding-left: 12px;
            margin-top: 20px;
            font-size: 16px;
            font-weight: bold;
            color: #9E9E9E;
        }
        .sidebar-link-list {
            li {
                margin-bottom: 5px;
                & > a, & > button {
                    padding: 10px 12px;
                    display: flex;
                    font-size: 20px;
                    line-height: 18px;
                    color: #9E9E9E;
                    width: 100%;
                    background: transparent;
                    border: 0;
                    border-radius: 10px;
                    font-weight: bold;
                    position: relative;
                    img {
                        width: 19px;
                        height: 19px;
                        object-fit: contain;
                        margin-right: 8px;
                    }
                    &.active {
                        background: #0E0E0E !important;
                        color: #fff;
                    }
                    &:hover {
                        background: #0E0E0E !important;
                    }
                }
                & > a {
                    &#messages-menu {
                        position: relative;
                        .messages-pro-badge {
                            position: absolute;
                            right: 42px;
                            width: 24px;
                            height: 24px;
                            padding-top: 3px;
                            text-align: center;
                            border-radius: 50%;
                            background-color: #FB609F;
                            color: white;
                            font-size: 15px;
                            font-weight: initial;
                            margin-top: -3px;
                        }
                        .messages-right-icon {
                            position: absolute;
                            width: 26px;
                            height: 26px;
                            right: 0;
                            display: block;
                            margin-top: -4px;
                        }
                    }
                }
                & > button {
                    &:after {
                        content: "\f107";
                        position: absolute;
                        right: 12px;
                        top: 50%;
                        transform: translateY(-50%);
                        border: 0;
                        font-family: "Font Awesome 6 Free";
                        font-style: normal;
                        font-weight: 900;
                        font-size: 10px;
                        color: #d6d9df;
                        transition: 0.4s all ease;
                        margin-top: -1px;
                    }
                    &.active {
                        &:after {
                            transform: translateY(-50%) rotate(180deg);
                        }
                    }
                }
                #of-top-menu {
                    color: white;
                    padding-left: 18px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    background-color: #171717cc;
                    position: relative;
                    .of-badge {
                        display: none;
                        position: absolute;
                        right: 40px;
                        width: 11px;
                        height: 11px;
                        background-color: #FB609F;
                        border-radius: 50%;
                        top: 19px;
                    }
                    &:hover {
                        background: #0E0E0E !important;
                    }
                    &:after {
                        transform: translateY(-50%);
                    }
                }
                &:first-child {
                    img {
                        width: 19px;
                        height: 19px;
                    }
                }
                .sub-menu {
                    display: none;
                    margin-top: 5px;
                    overflow: hidden;
                    ul {
                        max-height: 0;
                        transition: max-height 0.55s ease;
                        li {
                            & > a {
                                padding-left: 25px;
                                padding-right: 10px;
                                transition: 0.4s all ease;
                            }
                        }
                    }
                }
                button.active {
                    & + .sub-menu {
                        display: block;
                        ul {
                            display: block;
                            max-height: 600px;
                        }
                    }
                }
            }
            &.show-of-badge {
                li {
                    #of-top-menu {
                        .of-badge {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

.menu-close {
    .dashboard-sidebar {
        width: 52px;
        padding-left: 7px;
        padding-right: 10px;
        overflow: unset;
        .sidebar-main {
            .version {
                display: none;
            }
        }
        .sidebar-link-list {
            li {
                margin-bottom: 3px;
                position: relative;
                z-index: 2;
                & > a, & > button {
                    font-size: 0;
                    justify-content: center;
                    padding: 8.5px 6px;
                    border-radius: 8px;
                    font-family: "Inter", sans-serif;
                    img {
                        width: 19px;
                        height: 19px;
                        object-fit: contain;
                        margin-right: 0;
                    }
                    &:after {
                        display: none;
                    }
                    &#messages-menu {
                        .messages-right-icon {
                            display: none;
                        }
                    }
                }
                &:first-child {
                    img {
                        width: 19px;
                        height: 19px;
                    }
                }
                .sub-menu {
                    position: absolute;
                    left: 100%;
                    top: 0;
                    width: 250px;
                    padding: 0 0 0 10px;
                    margin: 0;
                    display: none !important;
                    border-radius: 5px;
                    overflow: hidden;
                    ul {
                        max-height: 440px;
                        overflow-y: auto;
                        overflow-x: hidden;
                        background: #000;
                        border-radius: 5px;
                        padding: 10px 5px;
                        li {
                            a {
                                border-radius: 5px;
                                justify-content: flex-start;
                                font-size: 18px;
                                padding: 10px 5px;
                                img {
                                    margin-right: 8px;
                                }
                            }
                        }
                    }
                }
                &:hover {
                    .sub-menu {
                        display: block !important;
                    }
                }
            }
        }
        #of-top-menu {
            padding-left: 10px !important;
            .of-badge {
                display: none !important;
            }
        }
    }
}
