.dashboard-sidebar {
    width: 250px;
    height: calc(100vh - 48px);
    overflow-y: auto;
    padding: 7px 7px 26px 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 35px;
    .sidebar-main {
        width: 100%;
        .sidebar-link-list {
            li {
                & > a, & > button {
                    padding: 10px 12px;
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    line-height: 18px;
                    color: #9E9E9E;
                    width: 100%;
                    background: transparent;
                    border: 0;
                    border-radius: 10px;
                    font-weight: bold;
                    img {
                        width: 19px;
                        height: 19px;
                        object-fit: contain;
                        margin-right: 8px;
                    }
                    &.active {
                        background: #0E0E0E !important;
                        color: #fff;
                    }
                    &:hover {
                        background: #0E0E0E !important;
                    }
                }
                #of-top-menu {
                    color: white;
                    padding-left: 18px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    background-color: #171717cc;
                    position: relative;
                    .of-badge {
                        display: inline-block;
                        position: absolute;
                        right: 40px;
                        width: 11px;
                        height: 11px;
                        background-color: #FB609F;
                        border-radius: 50%;
                    }
                    &:hover {
                        background: #0E0E0E !important;
                    }
                }
                &:first-child {
                    img {
                        width: 19px;
                        height: 19px;
                    }
                }
            }
        }
    }
}

.menu-close {
    .dashboard-sidebar {
        width: 52px;
        padding-left: 7px;
        padding-right: 10px;
        overflow: unset;
    }
}
