.creator-content {
    width: calc(100% - 250px);
    height: calc(100vh - 48px);
    background: #151515;
    border-top-left-radius: 16px;
    overflow-y: scroll;
    .header-title {
        h2 {
            font-family: "Inter", sans-serif;
            padding: 17px 22px;
            font-size: 15px;
            border-bottom: 1px solid #3E3E3E;
            font-weight: 400;
        }
    }
    .header-bar {
        margin: 19px 24px 0 24px;
        display: flex;
        padding-bottom: 13px;
        border-bottom: 1px solid #3E3E3E;
        .header-tab {
            span {
                cursor: pointer;
                font-size: 15.5px;
                font-weight: 400;
                &.overview-tab {
                    color: #3467FF;
                    padding-bottom: 15px;
                    border-bottom: 2px solid #3467FF;
                }
                &.creator_perf-tab {
                    margin-left: 32px;
                }
            }
        }
        .header-filter {
            display: flex;
            margin-left: auto;
            div {
                background: transparent;
                border: 0;
                border-radius: 4px;
                padding: 0 7px;
                font-size: 12px;
                font-weight: 400;
                color: #bbb;
                width: 125px;
                outline: 1px solid #3E3E3E;
                border-right: 6px solid transparent;
                height: 22px;
                font-family: "Segoe UI", sans-serif;
                &#daterange {
                    width: fit-content;
                    padding-top: 4px !important;
                    span {
                        font-family: "Segoe UI", sans-serif;
                        color: white;
                        font-size: 12px;
                    }
                }
            }
            svg {
                position: relative;
                top: -1px;
            }
            .dropdown-toggle {
                position: relative;
                top: 4px;
                margin: 0 10px 0 5px;
                color: #919191;
                text-decoration: none;
                &:after {
                    content: "\f107";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    border: 0;
                    font-family: "Font Awesome 6 Free";
                    font-weight: 900;
                    font-size: 12px;
                }
            }
            .dropdown-menu {
                align-items: center;
                border-radius: 4px;
                border: 1px solid #444444;
                background-color: #2F2F2F;
                display: none;
                margin-top: 0;
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 1000;
                float: left;
                min-width: 100px;
                list-style: none;
                font-size: 14px;
                background-clip: padding-box;
                .dropdown-item {
                    display: block;
                    padding: 3px 20px;
                    clear: both;
                    font-weight: normal;
                    line-height: 1.428571429;
                    white-space: nowrap;
                    text-decoration: none;
                    color: white;
                    font-family: "Segoe UI", sans-serif;
                    font-size: 14px;
                    &:hover {
                        background-color: #353535;
                    }
                    &.active {
                        color: #2D74FF !important;
                        background-color: #353535 !important;
                    }
                    &.disabled {
                        color: #535353;
                    }
                }
            }
            .header-shown_by {
                border: 0;
                border-radius: 4px;
                font-weight: 400;
                color: #bbb;
                outline: 1px solid #3E3E3E;
                font-family: "Segoe UI", sans-serif;
                border-right: 6px solid transparent;
                background-color: #151515;
                margin-left: 15px;
                width: 125px;
                &:hover {
                    .dropdown-menu {
                        display: block;
                    }
                }
            }
            #earnings-select {
                &:hover {
                    .dropdown-menu {
                        display: block;
                    }
                }
            }
            button {
                position: relative;
                top: 4px;
                margin: 0 10px 0 5px;
                &.tooltip-custom {
                    border: 0;
                    background: transparent;
                    display: inline-flex;
                    img {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
            .header-span_filter {
                font-size: 13px;
                font-weight: 400;
                font-style: normal;
                color: #3467FF;
                border: 1px solid #3467FF;
                padding: 3px 5px;
                border-radius: 4px;
                cursor: pointer;
                height: 22px;
                margin-left: 15px;
                width: 65px;
                svg {
                    position: relative;
                    top: -2px;
                }
            }
        }
    }
    .main-card-wrap {
        border: none;
        background: transparent;
        padding: 16px 24px;
        border-radius: 12px;
        .main-card-heading {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
            h4 {
                font-family: "Inter", sans-serif;
                font-size: 15px;
                line-height: 1.25;
                font-weight: 500;
                display: flex;
                align-items: flex-end;
                letter-spacing: -0.1px;
                margin: 0;
                .tooltip-custom {
                    margin-left: 10px;
                    margin-bottom: 1px;
                    border: 0;
                    background: transparent;
                    display: inline-flex;
                    img {
                        width: 15px;
                        height: 15px;
                        margin-bottom: 1px;
                        margin-left: 2px;
                    }
                }
            }
        }
        .main-card-content {
            display: flex;
            flex-wrap: wrap;
            .overview-col {
                padding: 20px 35px 12px;
                border-right: 1px solid #464646;
                width: 25%;
                &:last-child {
                    border-right: 0;
                }
                .overview-inner {
                    padding: 4px 0;
                    img {
                        width: 44px;
                        margin-bottom: 20px;
                    }
                    p {
                        font-size: 12px;
                        line-height: 1.2;
                        color: #1890F1;
                        font-weight: 600;
                        margin-bottom: 16px;
                        font-family: "Segoe UI", sans-serif;
                    }
                    h5 {
                        font-family: system-ui;
                        letter-spacing: -0.9px;
                        font-size: 32px;
                        line-height: 1.2;
                        color: #2d74ff;
                        font-weight: 700;
                        &.total-earning {
                            align-items: baseline !important;
                            font-family: system-ui;
                            font-size: 32px;
                            & > div {
                                font-family: system-ui;
                                font-size: 32px !important;
                            }
                        }
                        .dollar-sign {
                            position: relative;
                            top: 0;
                            left: 0;
                            font-family: "Inter", sans-serif !important;
                        }
                    }
                }
                .overview-card {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 55px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .card-content {
                        padding-right: 15px;
                        width: calc(100% - 45px);
                        h5 {
                            font-family: system-ui;
                            letter-spacing: -0.9px;
                            font-size: 21px;
                            line-height: 1.2;
                            color: white;
                            font-weight: 700;
                            margin-bottom: 2px;
                            &.sub-earning, &.posts-earning, &.msg-earning, &.tips-earning, &.ref-earning, &.streams-earning  {
                                font-family: system-ui;
                                font-size: 20px;
                                color: #fff !important;
                                height: 24px;
                                & > div {
                                    color: #fff !important;
                                    font-family: system-ui;
                                    font-size: 20px !important;
                                }
                                & > span {
                                    color: #fff !important;
                                    font-family: system-ui;
                                    font-size: 20px !important;
                                }
                            }
                        }
                        p {
                            font-size: 13px;
                            line-height: 1.2;
                            color: #808080;
                        }
                    }
                    & > img {
                        width: 45px;
                        height: 45px;
                        object-fit: contain;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
    .stats-wrap {
        padding: 16px 24px;
        border-radius: 12px;
        background: transparent;
        .stats-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            h6 {
                font-family: "Calibri", sans-serif;
                font-size: 16px;
            }
            .metrics-and-export {
                display: flex;
                align-items: center;
                gap: 0;
                .custom-metrics-container {
                    display: flex;
                    align-items: center;
                    margin-right: 0;
                    background-color: transparent;
                    .custom-metrics-button {
                        display: flex;
                        align-items: center;
                        background-color: transparent;
                        border: none;
                        padding: 8px 12px;
                        cursor: pointer;
                        font-family: 'Calibri', sans-serif;
                        font-size: 13.4px;
                        .icon {
                            margin-right: 8px;
                            font-size: 16px;
                            color: #888;
                            svg {
                                width: 16px;
                                height: 16px;
                                fill: #888;
                            }
                        }
                    }
                }
                .header-span_filter {
                    display: flex;
                    align-items: center;
                    color: #007bff;
                    font-size: 13px;
                    font-weight: 400;
                    font-style: normal;
                    border: 1px solid #3467FF;
                    padding: 3px 5px;
                    border-radius: 4px;
                    height: 22px;
                    margin-left: 15px;
                    svg {
                        margin-right: 5px;
                    }
                }
            }
        }
        .card {
            background: transparent;
            border-radius: 8px;
            padding: 30px 20px;
            width: calc(25% - 20px);
            border-color: #434343;
            .card-content {
                .display-5 {
                    font-weight: bold;
                    font-family: "Inter";
                    font-size: 28px;
                    color: white !important;
                    line-height: 1.2;
                    margin-bottom: 0;
                    height: 34px;
                }
                .card-title {
                    font-size: 13px;
                    color: #7b7b7b;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0;
                    .info-btn {
                        background: none;
                        border: none;
                        cursor: pointer;
                        padding: 0;
                        margin-left: 8px;
                    }
                }
            }
        }
        .table-container {
            margin-top: 20px;
            width: 100%;
            table {
                width: 100%;
                border-collapse: collapse;
                margin: 10px 0;
                background-color: #0f0e0e;
                th {
                    cursor: pointer;
                    border-right: 1px solid #2c2b2b;
                    &:first-child {
                        border-top-left-radius: 10px;
                    }
                    &:last-child {
                        border-top-right-radius: 10px;
                    }
                }
            }
        }
        .main-card-wrap {
            .main-card-content.nodata {
                border: none;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                img {
                    width: 110px;
                    margin: 0 auto 10px;
                }
                p {
                    font-size: 14px;
                    line-height: 1.2;
                    color: #808080;
                }
            }
        }
    }
    .earnings-by-channel-wrapper {
        h6 {
            .tooltip-custom {
                border: 0;
                background: transparent;
                display: inline-flex;
                .charts-title {
                    height: 15px;
                    margin-left: 4px;
                    width: 15px;
                }
            }
        }
        #chartContainer {
            display: flex;
            align-items: flex-start;
            gap: 70px;
            padding: 20px;
            height: 300px;
            #earningsChart {
                flex: 1;
                max-width: 70%;
            }
            .legend {
                font-family: Arial, sans-serif;
                width: 30%;
                height: 400px;
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    .item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 29px;
                        div {
                            flex: 1;
                            text-align: center;
                        }
                        .info {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            flex: 2;
                        }
                        p {
                            margin: 0;
                            font-size: 13px;
                            color: white;
                            font-weight: bold;
                        }
                        span {
                            display: inline-block;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            &.subscriptions {
                                background-color: #3467FF;
                            }
                            &.tips {
                                background-color: #2AD4AC;
                            }
                            &.posts {
                                background-color: #FC6767;
                            }
                            &.messages {
                                background-color: #FFA553;
                            }
                            &.referrals {
                                background-color: #34C2FF;
                            }
                            &.streams {
                                background-color: #CA34FF;
                            }
                        }
                    }
                }
            }
        }
    }
}

.menu-close {
    .creator-content {
        width: calc(100% - 52px);
    }
}

.daterangepicker {
    height: 320px;
    font-weight: 300;
    border: none;
    -webkit-box-shadow: 0 2px 3px 0 rgba(209, 209, 209, 0.15);
    box-shadow: 0 2px 3px 0 rgba(209, 209, 209, 0.15);
    border-radius: 10px;
    background-color: #2F2F2F;
    .ranges {
        ul {
            display: grid;
            grid-template-columns: repeat(2, minmax(140px, 1fr));
            grid-auto-rows: 25px;
            grid-template-rows: repeat(6, 24px);
            width: 280px !important;
            row-gap: 21px;
            li {
                page-break-inside: avoid;
                border: 1px solid #444444;
                margin: 0 10px;
                border-radius: 4px;
                text-align: center;
                padding: 4px 12px !important;
                height: 32px;
                line-height: 22px;
                background-color: transparent;
                color: #fff;
                font-size: 15px;
                overflow: hidden;
                &[data-range-key="2025"] {
                    order: -3;
                }
                &[data-range-key="Last 7 Days"] {
                    order: -11;
                }
                &[data-range-key="Last 30 Days"] {
                    order: -9;
                }
                &[data-range-key="Last 90 Days"] {
                    order: -7;
                }
                &[data-range-key="Last 365 Days"] {
                    order: -5;
                }
                &[data-range-key="December"] {
                    order: -12;
                }
                &[data-range-key="November"] {
                    order: -10;
                }
                &[data-range-key="October"] {
                    order: -8;
                }
                &[data-range-key="September"] {
                    order: -6;
                }
                &[data-range-key="August"] {
                    order: -4;
                }
                &[data-range-key="July"] {
                    order: -2;
                }
                &[data-range-key="Custom"], &[data-range-key="Custom Range"] {
                    order: -13;
                }
                &:hover {
                    background-color: transparent;
                    border-color: #4096FF;
                    color: #4096FF;
                }
                &.active {
                    background-color: #3467FF;
                    border-color: #3467FF;
                    color: #fff;
                    &:hover {
                        background-color: #4096FF;
                        border-color: #4096FF;
                        color: #fff;
                    }
                }
            }
        }
    }
    .drp-calendar {
        &.left {
            border-left: none !important;
        }
        .calendar-table {
            border-style: none;
            background-color: unset;
            th {
                font-size: 15px;
                font-weight: 300;
            }
            table {
                width: 100%;
                margin: 0;
                border-collapse: separate;
                border-spacing: 0 9px;
                &.table-condensed {
                    height: 300px;
                    background-color: #2F2F2F;
                    padding: 0;
                    tr {
                        th {
                            padding: 0;
                            background-color: #2F2F2F;
                            border-bottom: #151515 !important;
                            color: #fff;
                            position: relative;
                            &.next, &.prev {
                                span {
                                    border-color: #cfcfcf;
                                }
                            }
                            &.month {
                                font-weight: 700 !important;
                                font-size: 16px !important;
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                font-size: 15px;
                                &.off {
                                    background-color: transparent !important;
                                    padding: 0 !important;
                                    margin: 2px;
                                }
                                &.in-range {
                                    background-color: #404144 !important;
                                    color: #fff !important;
                                }
                                &.active {
                                    background-color: #1677FF !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .drp-buttons {
        display: none !important;
    }
}

/* Highcharts custom styles */
#earnings-chart {
    height: 300px;
    margin: -8px 24px 0 24px;
    button {
        &.tooltip-custom {
            border: 0;
            background: transparent;
            display: inline-flex;
            position: relative;
            top: 3px;
            img {
                width: 15px;
                height: 15px;
                margin-left: 6px;
            }
        }
    }
}
