.creator-content {
    width: calc(100% - 250px);
    height: calc(100vh - 48px);
    background: #151515;
    border-top-left-radius: 16px;
    overflow-y: scroll;
    .header-title {
        h2 {
            font-family: "Inter", sans-serif;
            padding: 17px 22px;
            font-size: 15px;
            border-bottom: 1px solid #3E3E3E;
            font-weight: 400;
        }
    }
    .header-bar {
        margin: 19px 24px 0 24px;
        display: flex;
        padding-bottom: 13px;
        border-bottom: 1px solid #3E3E3E;
        .header-tab {
            span {
                cursor: pointer;
                font-size: 15.5px;
                font-weight: 400;
                &.overview-tab {
                    color: #3467FF;
                    padding-bottom: 15px;
                    border-bottom: 2px solid #3467FF;
                }
                &.creator_perf-tab {
                    margin-left: 28px;
                }
            }
        }
        .header-filter {
            display: flex;
            margin-left: auto;
            div {
                background: transparent;
                border: 0;
                border-radius: 4px;
                padding: 0 7px;
                font-size: 12px;
                font-weight: 400;
                color: #bbb;
                width: 125px;
                outline: 1px solid #3E3E3E;
                border-right: 6px solid transparent;
                height: 22px;
                font-family: "Segoe UI", sans-serif;
                &#daterange {
                    width: fit-content;
                    padding-top: 4px !important;
                    span {
                        font-family: "Segoe UI", sans-serif;
                        color: white;
                        font-size: 12px;
                    }
                }
            }
            svg {
                position: relative;
                top: -1px;
            }
            .dropdown-toggle {
                position: relative;
                top: 4px;
                margin: 0 10px 0 5px;
                color: #919191;
                text-decoration: none;
                &:after {
                    content: "\f107";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    border: 0;
                    font-family: "Font Awesome 6 Free";
                    font-weight: 900;
                    font-size: 12px;
                }
            }
            .dropdown-menu {
                align-items: center;
                border-radius: 4px;
                border: 1px solid #444444;
                background-color: #2F2F2F;
                display: none;
                margin-top: 0;
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 1000;
                float: left;
                min-width: 100px;
                list-style: none;
                font-size: 14px;
                background-clip: padding-box;
                .dropdown-item {
                    display: block;
                    padding: 3px 20px;
                    clear: both;
                    font-weight: normal;
                    line-height: 1.428571429;
                    white-space: nowrap;
                    text-decoration: none;
                    color: white;
                    font-family: "Segoe UI", sans-serif;
                    font-size: 14px;
                    &:hover {
                        background-color: #353535;
                    }
                    &.active {
                        color: #2D74FF !important;
                        background-color: #353535 !important;
                    }
                    &.disabled {
                        color: #535353;
                    }
                }
            }
            .header-shown_by {
                border: 0;
                border-radius: 4px;
                font-weight: 400;
                color: #bbb;
                outline: 1px solid #3E3E3E;
                font-family: "Segoe UI", sans-serif;
                border-right: 6px solid transparent;
                background-color: #151515;
                margin-left: 15px;
                width: 125px;
                &:hover {
                    .dropdown-menu {
                        display: block;
                    }
                }
            }
            #earnings-select {
                &:hover {
                    .dropdown-menu {
                        display: block;
                    }
                }
            }
            button {
                position: relative;
                top: 4px;
                margin: 0 10px 0 5px;
                &.tooltip-custom {
                    border: 0;
                    background: transparent;
                    display: inline-flex;
                    img {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
            .header-span_filter {
                font-size: 13px;
                font-weight: 400;
                font-style: normal;
                color: #3467FF;
                border: 1px solid #3467FF;
                padding: 3px 5px;
                border-radius: 4px;
                cursor: pointer;
                height: 22px;
                margin-left: 15px;
                width: 65px;
                svg {
                    position: relative;
                    top: -2px;
                }
            }
        }
    }
}

.menu-close {
    .creator-content {
        width: calc(100% - 52px);
    }
}
