.dashboard-header {
    align-items: center;
    display: flex;
    height: 66px; // temporary
    padding: 10px 14px;
    width: 100%;
    #header_left {
        display: flex !important;
        .sidebar-logo-wrap {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-left: 6px;
            padding-right: 8px;
            width: 100%;
            .menu-btn {
                background: transparent;
                border: 0;
                outline: unset !important;
                img {
                    height: 19px;
                    object-fit: contain;
                    width: 19px;
                }
            }
        }
    }
    #header_right {
        display: flex !important;
        .dropdown {
            position: relative;
            .dropdown-toggle-p {
                font-weight: bold;
                cursor: pointer;
                padding-top: 6px !important;
                padding-bottom: 6px !important;
                color: #fff;
                span {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: #58A744;
                    margin-right: 10px;
                }
            }
            .referrals-link {
                padding: 8px;
                background: #171717;
                border-radius: 8px;
                display: inline-flex;
                align-items: center;
                transition: width 0.6s all ease;
                margin-right: 8px;
            }
            .dropdown-menu {
                background-color: #262626;
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 1000;
                float: left;
                min-width: 100px;
                padding: 5px 0;
                margin: 2px 0 0;
                list-style: none;
                font-size: 14px;
                background-clip: padding-box;
                li {
                    .dropdown-item {
                        span {
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            margin-right: 10px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .time-zone {
            border-radius: 8px;
            padding: 8px 11px 8px 8px;
            font-size: 17px;
            font-weight: 600;
            line-height: 1.25;
            color: #fff;
            display: inline-flex;
            align-items: center;
            margin-right: 8px;
            background-color: #171717;
            .tooltip-custom {
                border: 0;
                background: transparent;
                display: inline-flex;
                img {
                    height: 19px;
                    width: 19px;
                }
            }
            .info-icon {
                margin-top: -1px;
                width: 16px;
                height: 16px;
            }
        }
        .referrals-link {
            padding: 8px;
            background: #171717;
            border-radius: 8px;
            display: inline-flex;
            align-items: center;
            transition: width 0.6s all ease;
            margin-right: 8px;
            span {
                font-size: 17px;
                font-weight: 600;
                line-height: 17px;
                padding-top: 1px;
                color: #ffffff;
                white-space: nowrap;
            }
        }
        .toggle-container {
            display: inline-flex;
            align-items: center;
            background-color: black;
            color: white;
            border-radius: 20px;
            padding: 4px 10px;
            font-family: sans-serif;
            font-size: 16px;
            flex-direction: column;
            .toggle-switch {
                position: relative;
                width: 26px;
                height: 17px;
                background-color: #171717;
                border-radius: 20px;
                cursor: pointer;
                .slider {
                    position: absolute;
                    height: 10px;
                    width: 10px;
                    background-color: white;
                    border-radius: 50%;
                    top: 4px;
                    left: 3px;
                    transition: 0.3s;
                }
                input {
                    display: none;
                    &:checked + .slider {
                        left: 12px;
                    }
                }
                &:has(input:checked) {
                    background-color: #F88056;
                }
            }
        }
        .setting-link, .notification-link {
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.4s all ease;
            position: relative;
            margin-right: 7px;
            background-color: #171717;
            padding: 8px;
            img {
                width: 19px;
                height: 19px;
                object-fit: contain;
            }
        }
        .profile-dropdown {
            margin-right: 20px;
            .dropdown-toggle {
                background: transparent;
                border: 0;
                outline: unset !important;
                font-size: 12px;
                line-height: 1;
                color: #fff;
                display: flex;
                align-items: center;
                text-decoration: none;
                span.avatarName {
                    border: 1px solid #fff;
                    background: #f1f2f4;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #00aff1;
                    font-size: 16px;
                    line-height: 1;
                    margin-right: 8px;
                    border-radius: 50%;
                    font-weight: 600;
                    &:not(:has(img)) {
                        height: 28px;
                        width: 28px;
                    }
                }
                &:after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    border: 0;
                    font-family: "Font Awesome 6 Free";
                    font-weight: 900;
                    font-size: 12px;
                    display: inline-block;
                    margin-left: .255em;
                    vertical-align: .255em;
                }
            }
            .dropdown-menu {
                min-width: unset;
                background: #f5f5f5;
                padding: 0;
                border-radius: 5px;
                left: -70px !important;
                top: calc(100% - 1px) !important;
                transform: unset !important;
                border: 0;
                overflow: hidden;
                .dropdown-item {
                    font-size: 13.6px;
                    line-height: 38px;
                    color: #C4D1C7;
                    padding: 0 12px;
                    letter-spacing: 0.5px;
                    background-color: #262626;
                    display: block;
                    width: 100%;
                    text-align: inherit;
                    border: 0;
                    &:hover {
                        background: #38393C;
                        color: #fff;
                    }
                }
            }
        }
    }

    /* Inline styles from HTML */
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0; /* remove delay caused by margin */
    }
    /* Optional: make p look like a button */
    .dropdown-toggle-p {
        color: white;
        cursor: pointer;
    }
    .operational .dropdown-menu li a {
        font-size: 13.6px;
        line-height: 38px;
        color: #C4D1C7;
        padding: 0 12px;
        letter-spacing: 0.5px;
        background-color: #262626;
    }
    .operational .dropdown-menu li a:hover,
    .operational .dropdown-menu li a:active {
        background: #38393C;
    }
}
