body {
    background: rgba(11, 11, 11, 1);
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.3;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

input, textarea {
    padding: 0;
    margin: 0;
    line-height: 1.3;
    font-weight: 400;
    color: white;
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
    font-family: "Calibri", sans-serif;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
